.gradle/
**/build/
!src/**/build/
gradle/wrapper/
.idea/
out/


# Ignore specific IDE and build files
.project
.classpath

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrapper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache