<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="false">
    <test name="CucumberTest">
        <classes>
            <class name="tests.RunnerTests"/>
        </classes>
    </test>
    <test name="LoginTest">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="DependentTest">
        <classes>
            <class name="tests.DependentTests"/>
        </classes>
    </test>
    <test name="ParameterizedTest">
        <classes>
            <class name="tests.ParameterizedTest"/>
        </classes>
    </test>
    <test name="DBTests">
        <classes>
            <class name="dataBaseTests.DatabaseConnectionTest"/>
            <class name="dataBaseTests.CRUDTestsDB"/>
            <class name="dataBaseTests.SelectApplicantApplicationTest"/>
        </classes>
    </test>
    <test name="Other Tests">
        <classes>
            <class name="tests.PriorityTests"/>
            <class name="tests.ExclusionTests">
                <methods>
                    <exclude name="tryNowButton"/>
                </methods>
            </class>
            <class name="selenideTests.RegistrationDemQATests"/>
        </classes>
    </test>
</suite>
